/* Start Global Style */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap');

*, *::after, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nova Square', cursive;
}

:root{
    --main-color: #111818;
    --blue-color: #3A5FFF;
    --yellow-color: #FBF508;
}

body{background-color: var(--main-color);}
/* End Global Style */





/* Start Login Style */
.form{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffff;
    box-shadow: 10px 9px 22px 21px black;
    padding: 10px;
    border-radius: 8px;
}

.form input[type='text']{
    width: 150px;
    position: relative;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.form input[type='text']:focus{
    border-bottom: 2px solid var(--blue-color);
    width: 100%;
}


.btn{
    width: 100%;
    background-color: var(--blue-color);
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    font-size: 20px;
    border: 0;
    border-radius: 6px;
    color: var(--main-color);
    cursor: pointer;   
}



/* result.html side */
.show-score{
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 30px 0 0 0;
}

/* End Login Style */